<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat it!{{else}}So Disgusting You Wanna Throw It Up?{{/if}}
	</button>
</li>
